<p>...YOU, I and rest of each person walking on this globe are actually uncomprehensibly-awesome and on-going events. Most of us don't realize it. We simply have gotten so used to our own selves and our surroundings that most of us think that our lives are mundane. Mind-blowingly, in this whole infinite universe (if you can orient yourself to that), there are "ONLY" 7 billion dots of consciousness walking around on this speck called 'Earth'. Each one of these handful of dots of awareness are not only capable of understanding what is going on around them but actually have the capacity to shape and impact themselves and their surroundings...that is an incredibly unique, powerful and way-under-appreciated ability. You and I are truly the luckiest and the most awesome entities in the whole universe...only if we can truly appreciate that...and we must...otherwise we are incurring the greatest loss ever to our own selves. We are wasting this priceless opportunity of life and the chance to be the grandest life/soul/person that we can ever imagine to be.</p>

<p>Souler System has, one of the countless, systematic, step-by-step approach, to (mutually) arrive at higher plains. Its definitely not the only way.You can definitely work your own system too. As a matter of fact, it is one of the sign of successful take-off into the realm of meaningfulness when you become your own craft-designer, pilot, navigator and passenger in your own personal journey towards your highest possibilities.</p>


INTRO TO STEPS:

-Sowing Souler Seeds
-Cultivating Soul
-Weeding Out Negativities
-Harvesting Fruits